#contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

#contact-details .details {
    width: 46%;
}

#contact-details .details span {
    font-size: 16px;

}

#contact-details .details h2 {
    font-size: 41px;
    line-height: 35px;
    font-weight: 700;
    padding: 20px 0;
}

#contact-details .details h3 {
    font-size: 20px;

    padding-bottom: 18px;
}

#contact-details .details li {
    list-style: none;
    display: flex;
    padding: 10px 0;
}

#contact-details .details li i {
    font-size: 20px;
    padding-right: 22px;

}

#contact-details .details li p {
    margin: 0;
    font-size: 20px;
}

#contact-details .map {
    width: 55%;
    height: 400px;
}

#contact-details .map iframe {
    width: 100%;
    height: 100%;
}

#form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e1e1e1;
}

#form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#form-details foreignObject span {
    font-size: 16px;

}

#form-details form h2 {
    font-size: 41px;
    line-height: 35px;
    font-weight: 700;
    padding: 20px 0;
}

#form-details form input,
#form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e1e1e1
}

#form-details form button {
    background-color: #088178;
    color: #fff;
}

#form-details .people div {
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;

}

#form-details .people div img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;

}

#form-details .people div p {
    margin: 0;
    font-size: 25px;
    line-height: 27px;

}

#form-details .people div span {
    display: flex;
    font-size: 25px;
    font-weight: 600;
    color: #000;
}


@media (max-width: 815px) {
    #form-details .people div p {

        font-size: 17px;
        line-height: 19px;
    }

    #form-details {
        display: flex;
        justify-content: space-between;
        margin: 27px;
        padding: 28px;
        border: 1px solid #e1e1e1;
    }

    #form-details form input,
    #form-details form textarea {
        width: 94%;
        padding: 12px 15px;
        outline: none;
        margin-bottom: 11px;
        border: 1px solid #e1e1e1;
    }

    #contact-details .details {

        margin-left: 23px;
    }

    #contact-details .details h2 {
        font-size: 34px;
        line-height: 35px;
        font-weight: 700;
        padding: 11px 0;
    }

    #contact-details .details span {
        font-size: 14px;
    }

    #contact-details .details li p {
        margin: 0;
        font-size: 16px;
    }

    #contact-details .details li i {
        font-size: 16px;
        padding-right: 22px;
    }

    #contact-details .map iframe {
        width: 100%;
        height: 100%;
        padding-right: 25px;
    }

    #newsletter {

        padding-left: 25px;
    }
}

@media (max-width: 477px) {
    #contact-details {

        flex-direction: column;
        align-items: none;
    }

    #contact-details .details {
        width: 100%;
    }
    #contact-details .map {
        width: 100%;
        padding-left: 20px;
        height: 326px;
        padding-top: 6px;
    }
    #form-details .people div p {
        font-size: 13px;
        line-height: 14px;
    }
    #form-details .people div span {
   
        font-size: 16px;
        
    }
    #form-details form h2 {
        font-size: 25px;
        line-height: 29px;
        font-weight: 750;
        padding: 3px 0;
    }
    #form-details form span {
        font-size: 10px;
    }
    #form-details {
  
        margin: 7px;
        padding: 15px;
       
}
#newsletter .form {
    width: 94%;
}

}